.rightbarProfile {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.rightbarProfileImgContainer {
	margin-right: 10px;
	position: relative;
	cursor: pointer;
}
.rightbarUsername {
	font-weight: 500;
	cursor: pointer;
}
