.post {
	width: 100%;
	border-radius: 10px;
	margin: 30px 0;
}
.postWrapper {
	padding: 10px;
}
.postTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.postTopLeft {
	display: flex;
	align-items: center;
}
.postProfileImg {
	cursor: pointer;
}
.postUsername {
	font-size: 15 px;
	font-weight: 500;
	margin: 0 10px;
}

.postDate {
	font-size: 13px;
}
.postCategory {
	font-size: 13px;
	margin-left: 10px;
}
.postMore {
	cursor: pointer;
}
.postInput {
	/* border: none; */
	width: 80%;
	resize: none;
	font-size: 16px;
}

.postInput:focus {
	outline: none;
}
.postImg {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}
.postCancelImg {
	position: absolute;
	top: 275px;
	right: 45px;
	cursor: pointer;
	opacity: 0.7;
}

.postCenter {
	margin: 20px 0;
}
.postImg {
	margin-top: 20px;
	width: 100%;
	max-height: 500px;
	object-fit: contain;
}
img[src=""] {
	display: none;
}
.postBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postBottomLeft {
	display: flex;
	align-items: center;
}
.postIcon {
	height: 30px;
	width: 30px;
	object-fit: cover;
	margin-right: 5px;
	cursor: pointer;
}

.postReactionCounter {
	font-size: 15px;
	margin-right: 5px;
}

.postCommentText {
	cursor: pointer;
	border-bottom: 1px dashed gray;
	font-size: 15px;
}
.postHr {
	margin: 18px;
	width: 100%;
}
.commentInput {
	border: none;
	width: 100%;
	resize: none;
	padding: 10px;
	font-size: 16px;
}
.commentInput:focus {
	outline: none;
}

.postCommentImg {
	position: relative;
	left: -10px;
}
.postCommentName {
	font-weight: 600;
}
