.publishContainer {
	width: 100%;
	border-radius: 10px;
}
.publishWrapper {
	width: 100%;
}
.publishTop {
	display: flex;
	align-items: center;
}
.publishProfileImg {
	margin: 10px;
}
.publishInput {
	border: none;
	width: 80%;
	resize: none;
}

.publishInput:focus {
	outline: none;
}

.publishHr {
	margin: 18px;
}

.publishOptions {
	display: flex;
}
.publishOption {
	display: flex;
	align-items: center;
	margin: 0 25px;
	cursor: pointer;
}

.publishIcon {
	font-size: 22px !important;
	margin-right: 5px;
}
.publishOptionText {
	font-size: 14px;
	font-weight: 500;
}

.publishButton {
	border: none;
	padding: 7px;
	border-radius: 5px;
	background-color: #fb2d01;
	font-weight: 500;
	margin-right: 15px;
	cursor: pointer;
	color: white;
}
.publishImgContainer {
	padding: 0 20px 10px 20px;
	position: relative;
}
.publishImg {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}
.publishCancelImg {
	position: absolute;
	top: 0;
	right: 20px;
	cursor: pointer;
	opacity: 0.7;
}
