.account {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f2f5b3;
}
.accountWrapper {
	width: 100%;
	height: 100%;
	display: flex;
}
.accountTop {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 50px;
}
.accountLogo {
	display: flex;
	font-size: 50px;
	font-weight: 800;
	color: #fb2f01;
	margin-bottom: 10px;
}
.accountDesc {
	display: flex;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 25px;
}
.accountOption {
	display: flex;
	align-items: center;
	margin: 0 25px;
	cursor: pointer;
}
.accountIcon {
	font-size: 22px !important;
	margin-right: 5px;
}
.accountOptionText {
	font-size: 15px;
	font-weight: 500;
}
.accountHr {
	margin: 18px;
}
.accountImgContainer {
	padding: 0 20px 10px 20px;
	position: relative;
}
.accountImg {
	position: relative;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	right: -25px;
	object-fit: cover;
	top: 25px;
}
.accountImgAlt {
	position: relative;
	width: 225px;
	height: 125px;
	object-fit: cover;
	top: 35px;
}
.accountCancelImg {
	font-size: 23px !important;

	position: absolute;
	top: -2px;
	right: -90px;
	cursor: pointer;
	opacity: 0.5;
}
.accountCancelImgAlt {
	font-size: 23px !important;

	position: absolute;
	top: -2px;
	right: -25px;
	cursor: pointer;
	opacity: 0.5;
}
.accountDeleteLink {
	color: #fb2f01;
	margin-top: 25px;
}
.accountLeft {
	margin-top: 150px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.accountRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.accountRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.accountBox {
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* -webkit-box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.7); */
}
.accountButtonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}
.accountSaveBtn {
	width: 100%;
}
.saveButtonMsg {
	margin-top: 15px;
	font-size: 14px;
	color: red;
}
